@import '../color-variables';

.carrousel-container {
    position: relative;
    height: 415px;

    @media (max-width: 750px) {
        height: 255px;
    }

}
.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 24px;

    @media (max-width: 750px) {
        margin-top: 15px;
        flex-direction: column;
        margin-bottom: 13px;
    }

    h1 {
        color: $main-color;
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        margin: 0;

        @media (max-width: 750px) {
            font-size: 18px;
            line-height: 25.67px;
        }

    }
    
    h2{
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        margin-bottom: 20px;

        @media (max-width: 750px) {
            font-size: 14px;
            line-height: 19.96px;
            margin-bottom: 10px;
        }

    }

    &__tags{
        display: flex;
        gap: 10px;
        padding: 0;

        p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            color: white;
            width: 150px;
            height: 25px;
            background-color: $main-color;
            border-radius: 10px;
            margin: 0;

            @media (max-width: 750px) {
                font-size: 10px;
            }

        }
    }
    &__host-rating{

        @media (max-width: 750px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: last baseline;
            justify-content: space-between;
        }

        &__host{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            margin-bottom: 21px;

            @media (max-width: 750px) {
                margin-bottom: 0;
                align-items: last baseline;
            }

            p{
                font-size: 18px;
                font-weight: 500;
                color: $main-color;
                text-align: end;
                width: 80px;

                @media (max-width: 750px) {
                    font-size: 12px;
                    width: 40px;
                }
            }

            img{
                width: 64px;
                height: 64px;
                border-radius: 100px;

                @media (max-width: 750px) {
                    width: 32px;
                    height: 32px;
                    align-self: center;
                }

            }
        }
    }
}

.logement-collapse-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 76px;
    margin-bottom: 20px;
    padding: 0 20px;

    @media (max-width: 750px) {
        flex-direction: column;
        gap: 10px;
    }

    &__content{
        width: 100%;
    }

}