@import '../color-variables';

.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title{
        font-size: 18px;
        font-weight: 700;
        background-color: $main-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px;
		border-radius: 5px;
        align-items: center;
        color: white;  
        
        @media (max-width: 750px) {
            font-size: 13px;
        }
        
        >span{
            transform: rotate(0deg);
            transition: all 500ms ease-in-out;

            .fa-angle-up{
                font-size: 20px;

                @media (max-width: 750px) {
                    font-size: 15px;
                }
            }
        }
    }

    &__content{
        display: grid;
        grid-template-rows: 0fr;
        padding: 10px 20px;
        width: 100%;
        transition: grid-template-rows 500ms;
        
        >div{
            overflow: hidden;
        }
    }        
}    

.collapse-active {

    >.collapse__title{

        >span{
            transform: rotate(180deg);
        }
    }

    >.collapse__content{
        grid-template-rows: 1fr;
        background-color: $second-color;
        border-radius: 5px;
        padding: 10px 20px;
        width: 100%;
    }
}