header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
 }